extends topbar
block content
		div.row
			div.span3
				- if(item.picture)
					img.img-polaroid(src="/pictures/#{item.picture}", height="250", width="200")
				- else
					img.img-polaroid(src="http://placehold.it/200x250")
				hr
				table.table.table-striped
					tbody	
						tr
							td Nickname:
							td #{item.name}
						tr
							td Email:
							td #{item.email}
						tr
							td Sex:
							td Male
						tr
							td Age
							td 23
			div.span9
				ul.nav-tabs.nav(id="myTab")
					li.active
						a(href="/profil/#{username}/wall") Wall
					li
						a(href="/profil/#{username}/search") Search
					li
						a(href="/profil/#{username}/profiles") Profiles				
				
				#Content
					block wall