extends ../profil
block wall
		div.span8
			ul.nav-tabs.nav(id="myTab")
				li
					a(href="/profil/#{item.name}/wall") Wall
				li.active
					a(href="/profil/#{item.name}/search") Search
				li
					a(href="/profil/#{item.name}/profiles") Profiles
			div.wPost
				form.form-search(method="post", action="searchIT")
					div.input-append
						input.span4.search-query(type="text", name="searchit", placeholder="Search...")
						button.btn.btn-primary(type="submit") Search
			
			- if(fProf != 0 || fPosts != 0)
				div.tabbable.tabs-left
					ul.nav.nav-tabs
						li.active
							a(href="#tab1", data-toggle="tab") Profiles
						li
							a(href="#tab2", data-toggle="tab") Posts
					div.tab-content
						#tab1.tab-pane.active
							ul.thumbnails
								- for(var i = 0; i < fProf.length; i++)
										li.span2
											div.thumbnail
												a(href="/profil/#{fProf[i].name}")
													img(src="/pictures/p_#{fProf[i].name}.jpg")
													h4 #{fProf[i].name}
								
						#tab2.tab-pane
							- for(var i = 0; i < fPosts.length; i++)
								div.wPost
									div.media
											a.pull-left(href="/profil/#{fPosts[i].reciepient}")
												img.media-object(src="/pictures/p_#{fPosts[i].author}.jpg", width="100")
											div.media-body
												h4 #{fPosts[i].author}  
													small   to #{fPosts[i].reciepient}
												p #{fPosts[i].message}
												
					